.git
.vscode
settings.json
.DS_STORE
.idea
compile.sh
init.sh
clean_objects.sh
run.sh
*.o
*.bin
.bash_history
*.out
*.log
.gdb_history
.bash_history
*.sys
*.img
*.qcow2
*.vdi
*.vmdk
strace_out
report.tasks
.config